@model Planner.Web.Models.AvaliacaoViewModel

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Avaliações</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                      
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Hora" class="control-label"></label>
                <input asp-for="Data_Hora" class="form-control" />
                <span asp-validation-for="Data_Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <label asp-for="Id_Materia" class="control-label"></label>
                <br/>
                <select asp-for="Id_Materia" class="form-control">
                    @foreach (var item in ViewBag.Materias) 
                    {
                        <option value="@item.Id_Materia">@item.Titulo</option>
                    }
                </select>
            </div> 
            <br/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
