@model Planner.Web.Models.AvaliacaoViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edição de Avalições</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPorId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="materia" class="control-label"></label>
                <input asp-for="materia" class="form-control" disabled/>
                <span asp-validation-for="Id_Materia" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Hora" class="control-label"></label>
                <input asp-for="Data_Hora" class="form-control" />
                <span asp-validation-for="Data_Hora" class="text-danger"></span>
            </div>
             
           <br/>
           
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
