@model IEnumerable<Planner.Web.Models.EventoViewModel>

@{
    ViewData["Title"] = "ListaDeEventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 center>Meus Eventos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Hora)
            </td>
            
        </tr>
}
    </tbody>
</table>

