@model Planner.Web.Models.MateriaViewModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>MateriaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarPorId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for=Id_Materia/>
            <input type="hidden" asp-for="Id_Usuario"/>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professor" class="control-label"></label>
                <input asp-for="Professor" class="form-control" />
                <span asp-validation-for="Professor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Inicio" class="control-label"></label>
                <input asp-for="Data_Inicio" class="form-control" />
                <span asp-validation-for="Data_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Fim" class="control-label"></label>
                <input asp-for="Data_Fim" class="form-control" />
                <span asp-validation-for="Data_Fim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para matérias</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
